[submodule "framework"]
	path = framework
	url = https://github.com/silverstripe/silverstripe-framework
[submodule "silverstripe-cms"]
	path = cms
	url = https://github.com/silverstripe/silverstripe-cms
