#view.homepage {
  overflow-x: hidden; /* was getting a weird horizontal scrolling issue from the #footer */
}

#view.homepage #footer {
  background: white;
  margin-top: 0;
}

#view.homepage #footer .c {
  padding: 0 1.25rem;
}

#view.homepage #footer a {
  color: #AA2F13;
}

@media (min-width: 769px) {
  #view.homepage #footer {
    display: none;
  }
}

#homepage-pic {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (max-width: 768px) {
  #homepage-pic {
    min-height: 30rem;
  }
}

@media (min-width: 769px) {
  #homepage-pic {
    position: fixed;
    top: 9.5rem;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#pic.toggle {
  display: none;
}

hr {
  border: none;
  border-bottom: 0.0625rem solid #ccc;
  margin: 2rem;
}

p,
li,
a {
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
}

a:hover,
a:hover .text {
  text-decoration: underline;
}

.secondary li a:hover {
  text-decoration: none;
}

a .arrow {
  text-decoration: none;
  margin-right: 0.5rem;
  color: #A38B85;
}

#footer .col:first-child img {
  max-width: 20rem  !important;
  width:     90%    !important;
  position:  static !important;
}

#homepage-fixed-footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

@media (max-width: 768px) {
  #homepage-fixed-footer {
    display: none;
  }
}
