html {
  background: #181415;
}

@media (max-width: 400px) {
  html { font-size: 0.875em; }
}

@media (min-width: 1800px) {
  html { font-size: 1.125em; }
}

@media (min-width: 2400px) {
  html { font-size: 1.25em; }
}

body {
  font-family: Raleway;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mtoggle { display: none; }
}

.trol {
  text-rendering: optimizeLegibility;
}

#top {
  position: relative;
}

#logo {
  color: #fff;
  padding: 1.5rem 1.25rem 0.75rem 1.25rem;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  background: url('/art-africa/themes/africa/images/logo.png');
  background-size: 4.5rem 4.5rem;
  background-repeat: no-repeat;
  background-position: 14.5rem 4.375rem;
}

@media (min-width: 769px) {
  .hamburger { display: none; }
}

.hamburger {
  float: right;
  width: 24px;
  position: relative;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}

.hamburger > div {
  height: 4px;
  border-radius: 2px;
  background: -webkit-linear-gradient(top,
                                      rgba(255,255,255, 0.1),
                                      rgba(255,255,255, 0.3));
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.25);
}

.hamburger:active > div {
  background: -webkit-linear-gradient(top,
                                      rgba(255,255,255, 0.15),
                                      rgba(255,255,255, 0.3));
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.3);
}

.hamburger > .patty {
  margin: 3px 0;
}

.nav1 {
  text-transform: uppercase;
}

.nav1 >ul {
  margin: 0;
  padding: 0;
}

.nav1 >ul>li {
}

.nav1 a {
  color: #fff;
}

@media (max-width: 768px) {
  .nav1 {
    font-size: 0.875rem;
  }

  .nav1 >ul>li:nth-child(1)>a { background: #1f1a1b; }
  .nav1 >ul>li:nth-child(2)>a { background: #262021; }
  .nav1 >ul>li:nth-child(3)>a { background: #2d2527; }
  .nav1 >ul>li:nth-child(4)>a { background: #342b2d; }

  .nav1 >ul>li>a {
    display: block;
    padding: 1rem 1.25rem;
  }
}

@media (min-width: 769px) {
  .nav1 {
    position: absolute;
    left: 21.25rem;
    bottom: 1.3125rem;
  }

  .nav1 >ul>li {
    display: inline-block;
    margin-right: 1.25rem;
    margin-top: 1.0625rem;
  }
}

@media (max-width: 768px) {
  #middle .nav2 { display: none; }
}

@media (min-width: 769px) {
  .nav1 .nav2 { display: none; }
}

.nav1 .nav2 >ul,
.nav1 .nav2 >ul>li {
  margin: 0;
  padding: 0;
}

.nav1 .nav2 >ul {
  margin: 0.75rem 0;
}

.nav1 .nav2 >ul>li>a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0.75rem 2.5rem;
}

#middle {
  position: relative;
}

#chapters_heading {
  background: #591202;
  padding: 1rem 0 1rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.375rem;
}

#middle .nav2 {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 18rem;
  /*background: #251f1f;*/
}

#middle .nav2 >ul,
#middle .nav2 >ul>li {
  margin: 0;
  padding: 0;
}

#middle .nav2 >ul {
  margin: 1.5rem 0;
}

#middle .nav2 >ul>li>a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0.75rem 1.25rem;
}

#main_content {
  background: white;
  padding: 1rem;
  min-height: 100%;
}

@media (min-width: 769px) {
  #main_content {
    position: absolute;
    top: 1rem;
    left: 18rem;
    right: 0;
    box-shadow: -0.125rem 0.125rem 0.375rem #181415;
  }
}
