html {
  background: #181415;
}

@media (max-width: 400px) {
  html { font-size: 0.875em; }
}

@media (min-width: 1680px) {
  html { font-size: 1.125em; }
  /*#view { margin: 0 2%; }*/
}

@media (min-width: 1920px) {
  html { font-size: 1.25em; }
  /*#view { margin: 0 4%; }*/
}

@media (min-width: 2560px) {
  html { font-size: 1.5em; }
  /*#view { margin: 0 6%; }*/
}

body {
  font-family: Raleway;
  padding: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

p {
  text-rendering: optimizeLegibility;
}

a {
  text-rendering: optimizeLegibility;
  text-decoration: none;
  -webkit-transition:color 0.1s ease-in;
  -moz-transition:color 0.1s ease-in;
  -o-transition:color 0.1s ease-in;
  transition:color 0.1s ease-in;
}

a:hover,
a.hover {
  text-decoration: underline;
}

img.full-width {
  display: block;
  margin: 1rem 0 1.25rem 0;
  width: 100%;
}

@media (min-width: 768px) {
  img.full-width {
    margin: 2rem 0 2.5rem 0;
  }
}

#main_content a {
  color: #AA2F13;
}

ul {
  list-style-type: square;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  padding: 0.375rem 0.5rem;
  border: 1px solid #aaa;
  text-rendering: optimizeLegibility;
}

input[type="submit"],
button {
  background: #591202;
  padding: 0.4375rem 1rem;
  color: white;
  border: 0;
  text-rendering: optimizeLegibility;
}

.img-link,
.img-link:hover {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  /*.toggle { display: none; }*/
  /*use &.toggle*/
}

* {
  text-rendering: optimizeLegibility;
}

@media (min-width: 769px) {
  .m {
    display: none;
  }
}

#top {
  position: relative;
}

#logo {
  color: #fff;
  padding: 1.5rem 1.25rem 0.75rem 1.25rem;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  background: url('/art-africa/themes/africa/images/logo.png');
  background-size: 4.5rem 4.5rem;
  background-repeat: no-repeat;
  background-position: 14.5rem 4.375rem;
}

#logo a {
	color: #fff;
  display: inline-block;
}

#logo a:hover {
	color: #aaa;
	text-decoration: none;
}

.hamburger {
  float: right;
  width: 28px;
  position: relative;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}

.hamburger > div {
  height: 5px;
  border-radius: 3px;
  background: -webkit-linear-gradient(top,
                                      rgba(255,255,255, 0.2),
                                      rgba(255,255,255, 0.3));
  background: linear-gradient(to bottom,
                              rgba(255,255,255, 0.2),
                              rgba(255,255,255, 0.3));
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.25);
}

.hamburger:active > div {
  background: -webkit-linear-gradient(top,
                                      rgba(255,255,255, 0.25),
                                      rgba(255,255,255, 0.35));
  background: linear-gradient(to bottom,
                              rgba(255,255,255, 0.25),
                              rgba(255,255,255, 0.35));
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.3);
}

.hamburger > .patty {
  margin: 4px 0;
}

.nav1 {
  text-transform: uppercase;
}

.nav1 >ul {
  margin: 0;
  padding: 0;
}

.nav1 >ul>li {
}

.nav1 a {
  color: #fff;
}

.nav1 a:hover{
	color: #aaa;
	text-decoration: none;
}

@media (max-width: 768px) {
  .nav1.toggle {
    display: none;
  }

  .nav1 >ul>li>a {
    display: block;
    padding: 1.125rem 1.25rem;
  }

  .nav1 >ul>li:nth-child(1)>a { background: #202020; }
  .nav1 >ul>li:nth-child(2)>a { background: #252525; }
  .nav1 >ul>li:nth-child(3)>a { background: #303030; }
  .nav1 >ul>li:nth-child(4)>a { background: #353535; }
  .nav1 >ul>li:nth-child(5)>a { background: #404040; }
  .nav1 >ul>li:nth-child(6)>a { background: #454545; }
  .nav1 >ul>li:nth-child(7)>a { background: #505050; }
  .nav1 >ul>li:nth-child(8)>a { background: #555555; }
  .nav1 >ul>li.search-li { padding: 1.125rem 1.25rem; }
  .nav1 >ul>li.search-li form { width: 100%; }
  .nav1 >ul>li.search-li input[type="text"] { width: 16rem; }
}

@media (min-width: 769px) {
  .nav1 {
    position: absolute;
    left: 21.25rem;
    bottom: 1.3125rem;
  }

  .nav1 >ul>li {
    display: inline-block;
    margin-right: 1.25rem;
    margin-top: 1.0625rem;
  }
}

@media (max-width: 768px) {
  #middle .nav2 { display: none; }
}

@media (min-width: 769px) {
  .nav1 .nav2 { display: none; }
}

.nav1 .nav2 >ul,
.nav1 .nav2 >ul>li {
  margin: 0;
  padding: 0;
}

.nav1 .nav2 >ul {
  margin: 1rem 0 2rem 0;
}

.nav1 .nav2 >ul>li>a {
  color: #fff;
  text-transform: none;
  display: block;
  padding: 0.75rem 1.25rem;
  border-left: 2px solid #333;
  margin-left: 1.25rem;
}

.nav1 form {
  display: inline-block;
}

.nav1 input[type="text"] {
  border: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.nav1 input[type="submit"] {
  border: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.nav1 .nav2 >ul>li>a:active {
  border-left-color: #555;
}

#middle {
  position: relative;
}

#chapters_heading {
  background: #591202;
  padding: 1rem 0 1rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.375rem;
}

#middle .nav2 {
  position: absolute;
  top: 3.625rem;
  left: 0;
  width: 18rem;
  /*background: #251f1f;*/
}

#middle .nav2 >ul,
#middle .nav2 >ul>li {
  margin: 0;
  padding: 0;
}

#middle .nav2 >ul {
  margin: 0.5rem 0 1.5rem 0;
  list-style-type: none;
}

#middle .nav2 >ul>li>a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0.75rem 1.25rem;
}

#middle .nav2 >ul>li>a:hover {
	color: #9e9595;
	text-decoration: none;
}

#main_content {
  background: white;
  padding: 1.25rem 1.25rem 0 1.25rem;
  min-height: 100%;
  overflow: hidden;
}

.description {
  display: block;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 2rem 0;
}

@media (min-width: 1024px) {
  .columns {
    column-count: 2;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-gap: 2rem;
    -moz-column-gap: 2rem; /* Firefox */
    -webkit-column-gap: 2rem; /* Safari and Chrome */
  }

  .columns > *:first-child { /* prevents top of element from being different than other columns */
    margin-top: 0 !important;
  }
}

@media (min-width: 1280px) {
  .columns {
    column-count: 3;
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
  }
}

ul.columns {
  padding: 0;
  margin: 0;
}

ul.columns li {
  margin: 0;
  padding: 0;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  -webkit-column-break-after: always;
  -moz-column-break-after: always;
  -o-column-break-after: always;
  -ms-column-break-after: always;
  column-break-after: always;
}

.grid-item {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem !important;
}

.grid-item p {
  line-height: 1.75rem;
}

@media (min-width: 1024px) {
  .grid-item {
    width: 47%;
    margin: 0;
  }

  .grid-item:not(:nth-child(2n)) {
    margin-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .grid-item {
    width: 29%;
    margin: 0;
  }

  .grid-item:not(:nth-child(3n)) {
    margin-right: 2rem;
  }
}

.grid img {
  width: 100%;
}

.grid-item-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.padded {
  padding: 1.25rem 1.25rem 0 1.25rem;
}

@media (min-width: 769px) {
  #main_content {
    padding: 2.5rem 2.5rem 0 2.5rem;
    position: absolute;
    top: 1rem;
    left: 18rem;
    right: 0;
    box-shadow: -0.125rem 0.125rem 0.375rem rgba(24,20,21, 0.5);
  }
  .padded {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
}

@media (min-width: 1680px) {
  #main_content { right: 1rem; }
}

@media (max-width: 768px) {
  .nav3 { display: none; }
}

.nav3 > ul {
  list-style-type: none;
  border-left: 2px solid #444;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 0 1rem 1.25rem;
}

.nav3 > ul > li {
  font-size: 0.875rem;
  margin: 3px 0;
}

.nav3 > ul > li > a {
  display: block;
  padding: 6px 0 6px 16px;
  position: relative;
  left: -26px;
  border-left: 2px solid #444;
  color: #ddd;
  -webkit-transition: border 0.1s ease-in;
  -moz-transition: border 0.1s ease-in;
  transition: border 0.1s ease-in;
  font-weight: 300;
}

.nav3 > ul > li > a:hover {
  text-decoration: none;
  color: white;
  border-left-color: #ccc;
  color: #fff;
}

.nav3 > ul > li > a.selected {
  font-weight: 500;
  color: #fff;
}

#main_content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

#main_content h2 {
  font-size: 1.375rem;
  color: #888;
  font-weight: 400;
}

#main_content .secondary h3 {
  font-size: 1.375rem;
  color: #888;
  font-weight: 400;
}

.content-container {
  /*max-width: 45rem;*/
}

.content-container p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 1.5rem 0;
  font-weight: normal;
  text-transform: none;
}

#main_content::selection,
#main_content ::selection {
  background: rgba(170,47,19, 0.15);
}

#footer {
  margin: 2.5rem -2.5rem 0 -2.5rem;
  padding: 2.5rem;
  border-top: 0.5rem solid #591202;
}

#footer .c {
  max-width: 60rem;
}

#footer .col {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  /*border: 1px solid red;*/
}

#footer .col:not(:first-child) {
  margin-left: 4%;
}

#footer .col:first-child img {
  max-width: 20rem !important;
  width: 90% !important;
  position: static !important;
}

@media (min-width: 769px) {
  #footer .col:nth-of-type(2) {
    position: relative;
    top: 2rem;
  }
}

@media (max-width: 768px) {
  #footer {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  #footer .col {
    width: auto;
    display: block;
    padding: 2rem 0;
    margin: 0 1rem !important;
  }

  #footer .col:not(:first-child) {
    border-top: 1px solid #ddd;
  }

  #footer .col:last-child {
    padding-top: 0.5rem;
  }
}

#footer h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0.875rem;
}

#footer p {
  margin: 0.25rem 0;
  line-height: 150%;
  font-size: 0.875rem;
  color: #666;
}

#footer ul {
  margin: 1rem 0;
  padding: 0;
  font-size: 0.875rem;
  list-style-type: none;
}

#footer li {
  margin: 0.5rem 0;
}

#footer li a {
  display: block;
}

.nav2 {
  background: #222;
}

.nav3 {
  background: #444;
}

*[data-mfp-src],
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer !important;
}

.mfp-zoom-out-cur {
  cursor: default !important;
}

.credit-line {
  color: #aaa;
  font-size: 0.75rem;
}

.artPhoto {
	position: static !important;
}

article.page {
	column-width:350px;
	-moz-column-width:350px; /* Firefox */
	-webkit-column-width:350px; /* Safari and Chrome */
}

.veryTinyImage {
	width: 2% !important;
	height: 2% !important;
}
.tinyImage {
	width: 5% !important;
	height: 5% !important;
}

.verySmallImage {
	height: 10% !important;
	width: 10% !important;
}

.smallImage {
	height: 25% !important;
	width: 25% !important;
}

.mediumImage {
	height: 50% !important;
	width: 50% !important;
}

.veryLargeImage {
	height: 75% !important;
	width: 75% !important;
}

.hugeImage {
	height: 125% !important;
	width: 125% !important;
}

#searchInput {
	border-radius: 3px;
}

#submitSearch {
	background-image: url('../images/magnifier-icon.svg');
	background-size: 100%;
	background-color: white;
	position: relative;	
	top: 4px;
	background-color: #591202;
	border-radius: 3px;
}

#middle .fieldHolder {
	float: right;
	margin: 1%;
}

.artPhoto img {
	position: static !important;
}

.white-popup {
  position: relative;
  display: block;
  background: #FFF;
  padding: 10px;
  padding-top: 40px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.pagination {
  display: inline-block;
  background: #f0f0f0;
  padding: 0.75rem 1rem;
}

.pagination > *:not(:last-child) {
  margin-right: 0.5rem;
}

#map-canvas,
#map_canvas,
#map-canvas-notice {
  height: 500px;
}

@media (max-width: 768px) {
  #map-canvas,
  #map_canvas,
  #map-canvas-notice {
    /*display: none !important;*/
  }
}

#map-canvas-notice {
  position: absolute;
  /*top: 6rem;*/
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.75);
  text-align: center;
  display: table;
  width: 100%;
}

@media (max-width: 768px) {
  #map-canvas-notice {
    top: 3.625rem;
  }
}

#map-canvas-notice > div {
  vertical-align: middle;
  display: table-cell;
}

#map-canvas-notice h1 {
  color: white;
  text-transform: none;
  text-shadow: 1px 1px 8px black;
}

#map-canvas-notice p {
  color: #ccc;
  text-shadow: 1px 1px 4px black;
  width: 50%;
  max-width: 35rem;
  margin: 0.625em auto 1em auto !important;
  font-size: 1.25rem;
  line-height: 1.625em;
}

@media (min-width: 769px) {
  #map-canvas-notice p {
    min-width: 23.375rem;
  }
}

@media (max-width: 768px) {
  #map-canvas-notice p {
    width: 90%;
    font-size: 1em;
  }

  #map-canvas-notice h1 {
    font-size: 2.5em;
  }
}

#map-canvas-notice button {
  font-size: 1.5rem;
  box-shadow: 1px 2px 8px rgba(0,0,0, 0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.8);
}

.map-page .content {
  /*-webkit-column-width: 500px;
  column-width:500px;
  -moz-column-width:500px; */
}

#main_content .map-page p {
  margin: 0.3em 0;
}

#main_content .map-page h2 {
  font-size: 3em;
  border-bottom: 1px solid #ccc;
  padding: 0.3em 0;
  margin: 0.2em 0;
}

#main_content .map-page h3 {
  
}

.country-info-container{
  padding: 1em 0;
}
  
.artPic{
	width: 50% !important;
	margin: auto;
	margin-bottom: 5%;
}

.artPic img {
	width: 100% !important;
	position: static !important;
	max-width: 100% !important;
}

.title {
  margin-bottom: 1rem;
	text-align: center;
}

@media (max-width: 768px) {
  .sticky-wrapper {
    display: none;
  }
}

/* Media Grid Stuff */
.media-grid-container {
	background: #ddd;
	border-radius: 5px;
	padding: 0.2em;
}

.media-grid-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.media-grid-container ul li{
	vertical-align: top;
}

.media-grid-container ul li img{
	width: 100%;
}

@media (min-width: 480px) {
	.media-grid-container ul li{
		display: inline-block;
		width: 30%;
	}
}

@media (min-width: 768px) {
	.media-grid-container ul li{
		width: 20%;
	}

	.media-grid-container ul{
		height: 130px;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

#bibliography-results {
	margin-top: 2%;
	margin-bottom: 2%;
}

#bibliography-checkbox {
	margin-left: .5%;
}
