html {
  background: #181415;
}

@media (max-width: 400px) {
  html { font-size: 0.875em; }
}

@media (min-width: 1680px) {
  html { font-size: 1.125em; }
  #view { margin: 0 2%; }
}

@media (min-width: 1920px) {
  html { font-size: 1.25em; }
  #view { margin: 0 4%; }
}

@media (min-width: 2560px) {
  html { font-size: 1.5em; }
  #view { margin: 0 6%; }
}

body {
  font-family: Raleway;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

p {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #AA2F13;
}

a:hover {
  text-decoration: underline;
}

.img-link,
.img-link:hover {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  /*.toggle { display: none; }*/
  /*use &.toggle*/
}

* {
  text-rendering: optimizeLegibility;
}

@media (min-width: 769px) {
  .m {
    display: none;
  }
}

#top {
  position: relative;
}

#logo {
  color: #fff;
  padding: 1.5rem 1.25rem 0.75rem 1.25rem;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  background: url('/art-africa/themes/africa/images/logo.png');
  background-size: 4.5rem 4.5rem;
  background-repeat: no-repeat;
  background-position: 14.5rem 4.375rem;
}

.hamburger {
  float: right;
  width: 24px;
  position: relative;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}

.hamburger > div {
  height: 4px;
  border-radius: 2px;
  background: -webkit-linear-gradient(top,
                                      rgba(255,255,255, 0.1),
                                      rgba(255,255,255, 0.3));
  background: linear-gradient(to bottom,
                              rgba(255,255,255, 0.1),
                              rgba(255,255,255, 0.3));
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.25);
}

.hamburger:active > div {
  background: -webkit-linear-gradient(top,
                                      rgba(255,255,255, 0.15),
                                      rgba(255,255,255, 0.3));
  background: linear-gradient(to bottom,
                              rgba(255,255,255, 0.15),
                              rgba(255,255,255, 0.3));
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.3);
}

.hamburger > .patty {
  margin: 3px 0;
}

.nav1 {
  text-transform: uppercase;
}

.nav1 >ul {
  margin: 0;
  padding: 0;
}

.nav1 >ul>li {
}

.nav1 a {
  color: #fff;
}

@media (max-width: 768px) {
  .nav1.toggle {
    display: none;
  }

  .nav1 >ul>li:nth-child(1)>a { background: #202020; }
  .nav1 >ul>li:nth-child(2)>a { background: #252525; }
  .nav1 >ul>li:nth-child(3)>a { background: #303030; }
  .nav1 >ul>li:nth-child(4)>a { background: #353535; }
  .nav1 >ul>li:nth-child(5)>a { background: #404040; }
  .nav1 >ul>li:nth-child(6)>a { background: #454545; }
  .nav1 >ul>li:nth-child(7)>a { background: #505050; }

  .nav1 >ul>li>a {
    display: block;
    padding: 1.125rem 1.25rem;
  }
}

@media (min-width: 769px) {
  .nav1 {
    position: absolute;
    left: 21.25rem;
    bottom: 1.3125rem;
  }

  .nav1 >ul>li {
    display: inline-block;
    margin-right: 1.25rem;
    margin-top: 1.0625rem;
  }
}

@media (max-width: 768px) {
  #middle .nav2 { display: none; }
}

@media (min-width: 769px) {
  .nav1 .nav2 { display: none; }
}

.nav1 .nav2 >ul,
.nav1 .nav2 >ul>li {
  margin: 0;
  padding: 0;
}

.nav1 .nav2 >ul {
  margin: 1rem 0 2rem 0;
}

.nav1 .nav2 >ul>li>a {
  color: #fff;
  text-transform: none;
  display: block;
  padding: 0.75rem 1.25rem;
  border-left: 2px solid #333;
  margin-left: 1.25rem;
}

.nav1 .nav2 >ul>li>a:active {
  border-left-color: #555;
}

#middle {
  position: relative;
}

#chapters_heading {
  background: #591202;
  padding: 1rem 0 1rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.375rem;
}

#middle .nav2 {
  position: absolute;
  top: 3.625rem;
  left: 0;
  width: 18rem;
  /*background: #251f1f;*/
}

#middle .nav2 >ul,
#middle .nav2 >ul>li {
  margin: 0;
  padding: 0;
}

#middle .nav2 >ul {
  margin: 0.5rem 0 1.5rem 0;
  list-style-type: none;
}

#middle .nav2 >ul>li>a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0.75rem 1.25rem;
}

#main_content {
  background: white;
  padding: 1.25rem 1.25rem 0 1.25rem;
  min-height: 100%;
  overflow: hidden;
}

.description {
  display: block;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 2rem 0;
}

@media (min-width: 1024px) {
  .columns {
    column-count: 2;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-gap: 2rem;
    -moz-column-gap: 2rem; /* Firefox */
    -webkit-column-gap: 2rem; /* Safari and Chrome */
  }
  .columns > *:first-of-type { /* prevents top of element from being different than other columns */
    margin-top: 0 !important;
  }
}

@media (min-width: 1280px) {
  .columns {
    column-count: 3;
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
  }
}

@media (min-width: 769px) {
  #main_content {
    padding: 2.5rem 2.5rem 0 2.5rem;
    position: absolute;
    top: 1rem;
    left: 18rem;
    right: 0;
    box-shadow: -0.125rem 0.125rem 0.375rem rgba(24,20,21, 0.5);
  }
}

@media (min-width: 1680px) {
  #main_content { right: 1rem; }
}

@media (max-width: 768px) {
  .nav3 { display: none; }
}

.nav3 > ul {
  list-style-type: none;
  border-left: 2px solid #444;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 0 1rem 1.25rem;
}

.nav3 > ul > li {
  font-size: 0.875rem;
  margin: 6px 0;
}

.nav3 > ul > li > a {
  display: block;
  padding: 6px 0 6px 16px;
  position: relative;
  left: -26px;
  border-left: 2px solid #444;
  color: #ddd;
  -webkit-transition: border 0.1s ease-in;
  -moz-transition: border 0.1s ease-in;
  transition: border 0.1s ease-in;
}

.nav3 > ul > li > a:hover {
  text-decoration: none;
  color: white;
  border-left-color: #ccc;
  color: #fff;
}

#main_content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

#main_content h2 {
  font-size: 1.375rem;
  color: #888;
  font-weight: 400;
}

#main_content .secondary h3 {
  font-size: 1.375rem;
  color: #888;
  font-weight: 400;
}

.content-container {
  /*max-width: 45rem;*/
}

.content-container p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 1.5rem 0;
}

#main_content::selection,
#main_content ::selection {
  background: rgba(170,47,19, 0.15);
}

#footer {
  margin: 2.5rem -2.5rem 0 -2.5rem;
  padding: 2.5rem;
  border-top: 0.5rem solid #591202;
}

#footer .c {
  max-width: 60rem;
}

#footer .col {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  /*border: 1px solid red;*/
}

#footer .col:not(:first-child) {
  margin-left: 4%;
}

#footer .col:first-child img {
  max-width: 20rem !important;
  width: 90% !important;
  position: static !important;
}

@media (min-width: 769px) {
  #footer .col:nth-of-type(2) {
    position: relative;
    top: 2rem;
  }
}

@media (max-width: 768px) {
  #footer {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  #footer .col {
    width: auto;
    display: block;
    padding: 2rem 0;
    margin: 0 1rem !important;
  }

  #footer .col:not(:first-child) {
    border-top: 1px solid #ddd;
  }

  #footer .col:last-child {
    padding-top: 0.5rem;
  }
}

#footer h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0.875rem;
}

#footer p {
  margin: 0.25rem 0;
  line-height: 150%;
  font-size: 0.875rem;
  color: #666;
}

#footer ul {
  margin: 1rem 0;
  padding: 0;
  font-size: 0.875rem;
  list-style-type: none;
}

#footer li {
  margin: 0.5rem 0;
}

#footer li a {
  display: block;
}

.nav2 {
  background: #222;
}

.nav3 {
  background: #444;
}
